
#cabecera {
    background: rgb(2, 168, 214);
    ;
 
 }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px -100%;
    border: 3px solid #24252A;
    border: 3px solid #61636b;
}

.logo{
    width: 400px;
    cursor: pointer;
}

#buscar {
    position: absolute; 
    left: 500px; 
    top: 65px;
    text-align: center;
    padding-left: 30px;
    width: 700px;
    padding: 0 5px;
    margin: 0;
    height: 45px;
    font-size: 20px;
    background-color: #c4c6cf;
}

#search-icon {
    position: absolute; 
    left: 510px; 
    top: 75px;
    width: 18px;
    height: 18px;
    z-index: +1;
    background-color: transparent;
}

.buy{
    position: absolute;
    width: 100px;
    left: 1300px;
    top: 30px;
    cursor: pointer;
}
.rin7{
    position: absolute;
    left: 200px;
    top: 200px;
    cursor: pointer;
    border: 2px solid #a3a3a3;
    border-radius: 25px;
}
.rin7p{
    position: relative;
    width: 100px;
    left: 50px;
    top: 60px;
    cursor: pointer;
    border: 2px solid #a3a3a3;
    border-radius: 25px;
}

#vista{
    width: 1500px;
    height: 800px;
    border: 2px solid rgb(5, 5, 5);
    background: rgb(234, 234, 234);
}

#info{
    position : absolute;
    width: 500px;
    left: 800px;
    top: 200px;
    font: 1em arial;
    font-size: 30px;
    
}

#precio{
    position : absolute;
    width: 500px;
    left: 900px;
    top: 350px;
    font: 1em arial;
    font-size: 50px;
   
}

#detalles{
    position : absolute;
    width: 400px;
    left: 850px;
    top: 420px;
    font: 1em arial;
    font-size: 20px;
    
}

#cantidad{
    position : absolute;
    width: 400px;
    left: 880px;
    top: 550px;
    font: 1em arial;
    font-size: 30px;
    
}

#select{
    font: 1em arial;
    font-size: 25px;
    font: rgb(66, 65, 65);
}

#botones{
    position : absolute;
    left: 320px;
    top: 20px; 
}

#boton{
    color: #edf0f1;
    padding: 12px 35px;
    background-color: rgba(53, 55, 55, 0.8);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 40%;
}